// TYPOGRAPHY
$main-color:gold;
$header-accent:teal;
$content-color:white;

@font-face {
    font-family: "GazpachoBlack";
    src: url("./GazpachoBlack.otf") format("opentype");
}

// GENERAL FONTS/COLORS
h1{
    color: $header-accent;
    font-size: 2rem;
    font-family: "GazpachoBlack",serif;
}
h4{
    color: $header-accent;

}
h2{
    color: $main-color;
    font-size: 2rem;
}
span,p{
    color: $content-color;
    font-weight: bold;
}
button {
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url("./Images/Space.jpg") repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        .main-container{

            .header-container{
                margin-bottom: 1rem;
                padding: 1rem;
                text-align: end;
                h1{
                    font-size: 3rem;
                }
            }
            .mint-container{    
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .main-mint{
                    width: 100%;
                    padding-top: 3rem;
                    background-color: rgb(17, 17, 121);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 2rem 2rem 0rem 0rem;
                    img{
                        width: 10rem;
                        border-radius: 50%;
                        border: 4px solid rgb(118, 118, 226);
                    }
                    p{
                        margin: 1rem 0rem;
                        font-size: 1.5rem;
                    }
                    .main-mint-info{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-bottom: 2rem;
                        .connect-web3{
                            width: 12rem;
                            height: 4rem;
                            margin-bottom: 1rem;
                            font-size: 2rem;
                            background-color: transparent;
                            border:none;
                            background-color: rgb(49, 49, 240);
                            border-radius: 1rem;
                            color: $content-color;
                        }
                        .mint-amount-info{
                            margin-top: 1rem;
                            margin-bottom: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                            button{
                                height: 3rem;
                                width: 3rem;
                                border: none;
                                background-color: rgb(49, 49, 240);
                                border-radius: 20%;
                            }
                            span{
                                margin: 0rem 1rem;
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .mint-find{
                    border-radius: 0rem 0rem 2rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    background-color: rgb(8, 8, 55);
                    img{
                        margin-top: 2rem;
                        width: 10rem;
                        border-radius: 50%;
                        background-color: rgb(17, 17, 121);
                    }
                    .mint-find-info{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .mint-find-header{
                            margin: 1rem;
                            color: $main-color;
                        }
                        .mind-find-button{
                            margin:2rem 0rem;
                            height: 4rem;
                            width: 10rem;
                            border-radius: 1rem;
                            font-size: 2rem;
                            border: none;
                            background-color: rgb(17, 17, 121);
                            color: white;
                        }
                    }
                }
            }
            .about-container{
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .about-nfts{
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    gap:1rem;
                    margin-bottom: 2rem;
                    img{
                        width: 5rem;
                        border-radius: 1rem;
                    }
                }
                .about-information{
                    padding: 1rem;
                    .about-header{
                            color: $main-color;
                            text-align: start;
                            font-size: 2rem;
                            margin-bottom: 1rem;
                    }  
                    .about-information{
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }
                }
            }
            .faq{
                padding: 2rem;
                .faq-header{
                    margin-bottom: 2rem;
                }
                .faq-card{
                    width: 100%;
                    border-bottom: 2px solid white;
                    padding-bottom: 1rem;
                    .faq-visible{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h4{
                            font-size: 1.5rem;
                            color: white;
                        }
                        .icons-faq{
                            width: 3rem;
                            height: 3rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            input{
                                display: none;
                            }
                            div{
                                width: 2rem;
                                height: 3px;
                                background: white;
                                border-radius: 1rem;
                            }
                            .top-span-faq{
                                transition: 0.5s ease-in-out;
                                transform: rotate(90deg);
                            }
                            .bottom-span-faq{
                                transform: translateY(-2px);
                            }
                        }
                    }
                    .faq-hidden{
                        .faq-p{
                            transform: translate(-150px);
                            transition: 0.5s ease-in-out;
                            display: none;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        footer{
            padding:0;
            border-top: 2px solid white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 3rem;
            }
            .owner-info{
                p{
                    color: white;
                    z-index: 5;
                    font-size: 1.2rem;
                }
            }
            .updates{
                span{
                    font-size: 1.2rem;
                }
                display: flex;
                flex-direction: row;
            }
        }
    }
}


@media (min-width:900px){
    *{
        body{
            margin-top: 6rem;
            .main-container{
                .header-container{
                    text-align: center;
                    h1{
                        font-size: 4rem;
    
                    }
                    h4{
                        font-size: 2rem;
                    }
                }
                .mint-container{
                    margin-left: 20%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    max-width: 60%;
                    height: 100%;
                    .main-mint{
                        border-radius: 2rem 0rem 0rem 2rem;
                    }
                    .mint-find{
                        border-radius: 0rem 2rem 2rem 0rem;
                        height: 530px;
                        max-width: 40%;
                    }
                }
                .about-container{
                    margin-left: 10%;
                    margin-top: 10rem;
                    flex-direction: row;
                    max-width: 80%;
                    .about-nfts{
                        img{
                            width: 8rem;
                        }
                    }
                    .about-information{
                        
                        .about-header{
                            font-size: 3rem;
                        }
                        .about-information{
                            font-size: 2.5rem;
                            line-height: 3rem;
                        }
                    }
                }
                .faq{

                    margin-top: 6rem;
                    .faq-header{
                        font-size: 4rem;
                        text-align: center;
                    }
                    .faq-card{
                        margin-left: 20%;
                        width: 60%;
                        h4{
                            font-size: 2.5rem;
                        }
                        .icons-faq{
                            cursor: pointer;
                        }
                    }
                }

            }
            footer{
                padding-top: 1rem;
                justify-content: space-evenly;
                width: 100%;
                .updates{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
             }
        }
    }

}
