@font-face {
  font-family: "GazpachoBlack";
  src: url("./GazpachoBlack.otf") format("opentype");
}

h1 {
  color: teal;
  font-size: 2rem;
  font-family: "GazpachoBlack",serif;
}

h4 {
  color: teal;
}

h2 {
  color: gold;
  font-size: 2rem;
}

span, p {
  color: white;
  font-weight: bold;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./Images/Space.jpg") repeat center center fixed;
  background-size: cover;
}

* body .main-container .header-container {
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: end;
}

* body .main-container .header-container h1 {
  font-size: 3rem;
}

* body .main-container .mint-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .main-container .mint-container .main-mint {
  width: 100%;
  padding-top: 3rem;
  background-color: #111179;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem 2rem 0rem 0rem;
}

* body .main-container .mint-container .main-mint img {
  width: 10rem;
  border-radius: 50%;
  border: 4px solid #7676e2;
}

* body .main-container .mint-container .main-mint p {
  margin: 1rem 0rem;
  font-size: 1.5rem;
}

* body .main-container .mint-container .main-mint .main-mint-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

* body .main-container .mint-container .main-mint .main-mint-info .connect-web3 {
  width: 12rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  background-color: #3131f0;
  border-radius: 1rem;
  color: white;
}

* body .main-container .mint-container .main-mint .main-mint-info .mint-amount-info {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body .main-container .mint-container .main-mint .main-mint-info .mint-amount-info button {
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: #3131f0;
  border-radius: 20%;
}

* body .main-container .mint-container .main-mint .main-mint-info .mint-amount-info span {
  margin: 0rem 1rem;
  font-size: 1.5rem;
}

* body .main-container .mint-container .mint-find {
  border-radius: 0rem 0rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #080837;
}

* body .main-container .mint-container .mint-find img {
  margin-top: 2rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #111179;
}

* body .main-container .mint-container .mint-find .mint-find-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .main-container .mint-container .mint-find .mint-find-info .mint-find-header {
  margin: 1rem;
  color: gold;
}

* body .main-container .mint-container .mint-find .mint-find-info .mind-find-button {
  margin: 2rem 0rem;
  height: 4rem;
  width: 10rem;
  border-radius: 1rem;
  font-size: 2rem;
  border: none;
  background-color: #111179;
  color: white;
}

* body .main-container .about-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .main-container .about-container .about-nfts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 1rem;
  margin-bottom: 2rem;
}

* body .main-container .about-container .about-nfts img {
  width: 5rem;
  border-radius: 1rem;
}

* body .main-container .about-container .about-information {
  padding: 1rem;
}

* body .main-container .about-container .about-information .about-header {
  color: gold;
  text-align: start;
  font-size: 2rem;
  margin-bottom: 1rem;
}

* body .main-container .about-container .about-information .about-information {
  font-size: 1.5rem;
  line-height: 2rem;
}

* body .main-container .faq {
  padding: 2rem;
}

* body .main-container .faq .faq-header {
  margin-bottom: 2rem;
}

* body .main-container .faq .faq-card {
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

* body .main-container .faq .faq-card .faq-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .main-container .faq .faq-card .faq-visible h4 {
  font-size: 1.5rem;
  color: white;
}

* body .main-container .faq .faq-card .faq-visible .icons-faq {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .main-container .faq .faq-card .faq-visible .icons-faq input {
  display: none;
}

* body .main-container .faq .faq-card .faq-visible .icons-faq div {
  width: 2rem;
  height: 3px;
  background: white;
  border-radius: 1rem;
}

* body .main-container .faq .faq-card .faq-visible .icons-faq .top-span-faq {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

* body .main-container .faq .faq-card .faq-visible .icons-faq .bottom-span-faq {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

* body .main-container .faq .faq-card .faq-hidden .faq-p {
  -webkit-transform: translate(-150px);
          transform: translate(-150px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: none;
  font-size: 1.2rem;
}

* body footer {
  padding: 0;
  border-top: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body footer img {
  width: 3rem;
}

* body footer .owner-info p {
  color: white;
  z-index: 5;
  font-size: 1.2rem;
}

* body footer .updates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* body footer .updates span {
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  * body {
    margin-top: 6rem;
  }
  * body .main-container .header-container {
    text-align: center;
  }
  * body .main-container .header-container h1 {
    font-size: 4rem;
  }
  * body .main-container .header-container h4 {
    font-size: 2rem;
  }
  * body .main-container .mint-container {
    margin-left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 60%;
    height: 100%;
  }
  * body .main-container .mint-container .main-mint {
    border-radius: 2rem 0rem 0rem 2rem;
  }
  * body .main-container .mint-container .mint-find {
    border-radius: 0rem 2rem 2rem 0rem;
    height: 530px;
    max-width: 40%;
  }
  * body .main-container .about-container {
    margin-left: 10%;
    margin-top: 10rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 80%;
  }
  * body .main-container .about-container .about-nfts img {
    width: 8rem;
  }
  * body .main-container .about-container .about-information .about-header {
    font-size: 3rem;
  }
  * body .main-container .about-container .about-information .about-information {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  * body .main-container .faq {
    margin-top: 6rem;
  }
  * body .main-container .faq .faq-header {
    font-size: 4rem;
    text-align: center;
  }
  * body .main-container .faq .faq-card {
    margin-left: 20%;
    width: 60%;
  }
  * body .main-container .faq .faq-card h4 {
    font-size: 2.5rem;
  }
  * body .main-container .faq .faq-card .icons-faq {
    cursor: pointer;
  }
  * body footer {
    padding-top: 1rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  * body footer .updates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */